/* CSS Grid y Flex */

.contenedor {
	width: 100%;
	max-width: 1400px;
	margin: auto;
	padding: 40px 0;
    display: grid;
    grid-template-columns: 100% 100%;
    gap: 20px;
}

.columnas{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}

.caja {
	border-radius: 20px;
	min-height: 200px;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
    width: 100%;
}

.caja .textos {
	height: 50%;
    display: flex;
    flex-direction: column;
}

.textogrid{
	font-size: 32px;
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-between;
}

.cuadroflex{
	border-radius: 20px;
	min-height: 200px;
	padding: 20px;
    width: 500px;
	height: 400px;
	background-color: #FADAF6;
	text-align: center;
	margin: 2px;
}

/* Diseño Responsive */

@media screen and (max-width: 768px){
	.contenedor {
		width: 80%;
		max-width: 1000px;
		margin: auto;
		padding: 30px 0;
		display: grid;
		grid-template-columns: 100% 100%;
		gap: 15px;
	}
	.textogrid{
		font-size: 28px;
	}
}

@media screen and (max-width: 480px){
    .contenedor {
		width: 50%;
		max-width: 700px;
		margin: auto;
		padding: 20px 0;
		display: grid;
		grid-template-columns: 100% 100%;
		gap: 10px;
	}
	.textogrid{
		font-size: 20px;
	}
}