/* Estilo de body, titulo principal */

body{
background-color: #627dfa;
background-image: linear-gradient(62deg, #627dfa 0%, #E0C3FC 50%, #ffffff 100%);
padding: 15px;
}

h1{
    font-family:"Adelia";
    text-align: center;
}

.tituloprincipal{
    font-size: 100px;
}

#header{
    margin: auto;
    width: 1200px;
    font-size: 30px;
    font-family: "Calibri";
}

/* Estilos de parrafos */

.Titulo{ 
    list-style-type: none;
    font-size: 35px;
}

h2{
    font-size: 40px;
}

p{
    font-size: 25px;
    text-align: justify;
    font-family: "Remoto";
}

.infoimportante{
    font-size: 30px;
}

#secciones{
    font-style: normal;
}

.sobremi{
    font-family: "Bestie";
    font-size: 55px;
}

.sesiones{
    font-family: "Bestie";
    font-size: 55px;;
}

.cursos{
    font-family: "Bestie";
    font-size: 55px;
}

.piedras{
    font-family: "Bestie";
    font-size: 55px;
}

.aromaterapia{
    font-family: "Bestie";
    font-size: 55px;
}

.Titulo{
    font-family: "Louis George Cafe Light";
}

.niveles{
    font-family: "Louis George Cafe Light";
    font-size: 35px;
}


/* Estilos Bootstrap */

.slide img{
    height: 100vh;

}

.iconos {
    min-width: 700px;
    display: flex;
    justify-content: right;
}

.iconos a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.iconos a:hover {
    transform: scale(1.2);
}

/* Estilo de menu */

ul, ol{
    list-style: none;
}

.nav li a{
    background-color: #5612f5;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: all .3s ease-in-out;
}

.nav > li{
    float: left;
}

.nav li a:hover {
    background-color: #e8d8fe;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}

.nav li ul li{
    position: relative;
    display: none;
    min-width: none;
}

.nav li ul li ul{
    right: -205px;
    top: 0px;
}

.nav{
    background: #3b00c3;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}


/* Estilos formulario */

.letracontacto{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

#letracontacto{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 20px; 
}

#ciudad{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#boton{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#ciudad{
    font-size: 20px;
}

/* Estilos footer */

footer{
    font-family: "Calibri";
    font-size: 18px;
}

