/* Estilo de header */
header{
    background-color: #200069;
    padding: 0;
    margin: 0;
    max-height: 900px;
}

/* Estilo de body,*/
body{
background-color: #ffffff;
background-image: linear-gradient(62deg, aliceblue 0%, #8e91fc 33%, #E0C3FC 66%, aliceblue 100%);
padding: 15px;
}

/* Estilo de titulo principal */
h1{
    font-family:"Adelia";
    text-align: center;
}

.tituloprincipal{
    font-size: 100px;
}

/* Estilos de parrafos */

.Titulo{ 
    list-style-type: none;
    font-size: 35px;
}

h2{
    font-size: 40px;
}

p{
    font-size: 25px;
    text-align: justify;
    font-family: "Remoto";
}

.infoimportante{
    font-size: 30px;
}

#secciones{
    font-style: normal;
}

.sobremi{
    font-family: "Bestie";
    font-size: 60px;
}

.sesiones{
    font-family: "Bestie";
    font-size: 60px;;
}

.cursos{
    font-family: "Bestie";
    font-size: 55px;
}

.piedras{
    font-family: "Bestie";
    font-size: 55px;
}

.aromaterapia{
    font-family: "Bestie";
    font-size: 55px;
}

.Titulo{
    font-family: "Louis George Cafe Light";
}

.niveles{
    font-family: "Louis George Cafe Light";
    font-size: 35px;
}

/* Estilos Bootstrap */

.slide img{
    height: 100vh;
}

.iconos {
    min-width: 700px;
    display: flex;
    justify-content: right;
}

.iconos a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.iconos a:hover {
    transform: scale(1.2);
}

/* Estilo de menu */

#menu{
    font-family: "Catchye";
    font-size: 33px;
    font-weight: bold;
    text-align: center;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 20px 30px;
}

#menu li{
    display: inline;
    margin: 0;
}

#menu li a{
    color: aliceblue;
    padding: 20px 30px;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

#menu li a:hover{
    background-color: #E0C3FC;
    color: #ffffff;
}

.nav{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

/* Estilo Sliders */

.opiniones{
    background-color: #eba5ff;
    background-image: linear-gradient(0deg, #eba5ff 0%, #b5e0ff 100%);
}

.opiniones_contenedor{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}


.cuerpo_opiniones{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 1/1;
    grid-row: 2/2;
    opacity: 0;
    pointer-events: none;
}

.cuerpo_opiniones_muestra{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.texto_opiniones{
    max-width: 2000px;
}

.flecha_contenedor{
    width: 30px;
    cursor: pointer;
}

.subtitulo{
    color: rgb(4, 4, 4);
    font-size: 50px;
    text-align: center;
    font-family: "samantha";
}

.textopinion{
    color: rgb(5, 5, 5);
    text-align: center;
    margin-top: 20px;
    font-family: "Calibri";
    font-size: 25px;
}

/* Estilos formulario */

form{
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 50%, #ffffff 100%);
}

.letracontacto{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.tituloform{
    font-size: 50px;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-family: "Bestie";
    text-align: center;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

.ciudad{
    font-family: "Calibri";
    margin-top: 15px;
    font-size: 20px;
}

#ciudad{
    width: 100%;
}

/* Sección Botones */

#boton{
    background: #200069;
    color: aliceblue;
    padding: 15px;
    font-family: "Calibri";
    font-size: 20px;
}

#boton:hover{
    cursor: pointer;
}


/* Estilo de footer */

footer{
    font-family: "Calibri";
    font-size: 18px;
    text-align: center;
}

/* Diseño Responsive */

@media screen and (max-width: 768px){
    #menu{
        flex-direction: row;
    }
    #menu ul{
        padding: 0;
    }
    #menu ul li{
        margin-right: -3px;
        display: inline-block;
        text-align: center;
        width: 33%;
    }
    .infoimportante{
        font-size: 20px;
    }
    p{
        font-size: 20px;
        text-align: justify;
        font-family: "Remoto";
    }

    #menu li a{
        display: list-item;
    }
    .tituloprincipal{
        text-align: justify;
        width: 50%;
        font-size: 70px;
    }
    .iconos a {
        text-decoration: none;
        font-size: 22px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #314652;
        color: #f1f1f1;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out;
    }
    .contacto{
        font-family: "Louis George Cafe Light";
        font-size: 25px;
        font-weight: bold;
    }
}

@media screen and (max-width: 480px){
    #menu ul li{
        width: 100%;
    }
    #menu li a{
        display: list-item;
    }
    .tituloprincipal{
        text-align: justify;
        width: 50%;
        font-size: 50px;
    }
    .infoimportante{
        font-size: 15px;
    }
    p{
        font-size: 18px;
        text-align: justify;
        font-family: "Remoto";
    }
    .iconos a {
        text-decoration: none;
        font-size: 18px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background: #314652;
        color: #f1f1f1;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out;
    }
    .contacto{
        font-family: "Louis George Cafe Light";
        font-size: 20px;
        font-weight: bold;
    }
    form{
        width: 100%;
    }
}

